apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: taskflow-frontend
data:
  nginx.conf: |
    events {}
    http {
        server {
            listen 80;

            location /health {
                return 200 'Gateway healthy';
                add_header Content-Type text/plain;
            }

            location /auth {
                proxy_pass http://auth-svc.taskflow-backend:5000;
            }

            location /tasks {
                proxy_pass http://tasks-svc.taskflow-backend:8081;
            }

            location /notifications {
                proxy_pass http://notifications-svc.taskflow-backend:3001;
            }

            location /metrics {
                proxy_pass http://metrics-svc.taskflow-backend:5001;
            }
        }
    }
