apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: taskflow-frontend
  labels:
    app: api-gateway
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
        tier: frontend
    spec:
      initContainers:
      - name: wait-backend
        image: busybox
        command: ['sh', '-c', 'until nslookup auth.taskflow-backend.svc.cluster.local && nslookup tasks.taskflow-backend.svc.cluster.local; do sleep 5; done']
      containers:
      - name: api-gateway
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
