apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: taskflow-backend
  labels:
    app: auth
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
        tier: backend
    spec:
      initContainers:
      - name: wait-notifications
        image: busybox
        command: ['sh', '-c', 'until nslookup notifications.taskflow-backend.svc.cluster.local; do sleep 5; done']
      containers:
      - name: auth
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
      - name: audit
        image: busybox
        command: ['sh', '-c', 'while true; do echo audit log; sleep 30; done']
