apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks
  namespace: taskflow-backend
  labels:
    app: tasks
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tasks
  template:
    metadata:
      labels:
        app: tasks
        tier: backend
    spec:
      initContainers:
      - name: wait-auth
        image: busybox
        command: ['sh', '-c', 'until nslookup auth.taskflow-backend.svc.cluster.local; do sleep 5; done']
      containers:
      - name: tasks
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
      - name: health-checker
        image: busybox
        command: ['sh', '-c', 'while true; do wget -qO- http://localhost; sleep 20; done']
